/* Slider */
#explain_without_slider {
	display : none;
}
#slidesShow {
	max-height: 250px;
	max-width: 600px; 
}

.fa-caret-left {
	position: absolute;
	margin-top: -20px;
	top: 50%; 
	left: 0px; 
	font-size: 20px;
	color: rgb(0,123,255); 
}
.fa-caret-right {
	position: absolute;
	margin-top: -20px;
	top: 50%; 
	right: 0px; 
	font-size: 20px; 
	color: rgb(0,123,255);
}
.fa-play {
	position: absolute;
	margin-left: -20px;
	bottom: 0px; 
	left: 53%; 
	font-size: 20px;
	color:  rgb(0,123,255);
}
.fa-pause {
	position: absolute;
	bottom: 0px; 
	left: 47%; 
	font-size: 20px; 
	color:  rgb(0,123,255);
}

#weather{
	margin-top: 35%;
}
#error_img {
	max-height: 300px;
	max-width: 700px; 
}

@media screen and (max-width: 768px) { 
	#slider {
		display : none;
	}
	#explain_without_slider {
		display : block; 
	}
}