h1 {
    font-size: 2em; 
    padding-top: 10px; 
    padding-bottom: 10px;
}
h3 {
    font-size: 1em; 
    text-align: center;
    padding: 8px;
}
header {
    background-color: rgb(248, 249, 250); 
    border-bottom: solid rgb(175, 170, 170) 1px;
}